#ifndef CONFIG_H
#define CONFIG_H

#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASSWORD "YOUR_PASSWORD"

#define INFLUXDB_URL "https://YOUR_INFLUX_SERVER:8086" 
#define INFLUXDB_ORG "YOUR_INFLUX_ORG"
#define INFLUXDB_BUCKET "YOUR_INFLUX_BUCKET"
#define INFLUXDB_TOKEN "YOUR_INFLUX_TOKEN"

#define LOCAL_TZ "PST8PDT"


#define MQTT_SERVER "YOUR_MQTT_HOST"
#define MQTT_USER "YOUR_MQTT_USER"
#define MQTT_PASSWORD "YOUR_MQTT_PASSWORD"

#endif
